.work_card {
    display: flex;
    -webkit-box-shadow: 0px 1px 28px -2px rgba(51, 34, 80, 0.2);
    -moz-box-shadow: 0px 1px 28px -2px rgba(51, 34, 80, 0.2);
    box-shadow: 0px 1px 28px -2px rgba(51, 34, 80, 0.2);
    margin-bottom: 48px;
    margin-top: 48px;
    transition: 0.3s ease;
    &:hover{
        transition: 0.3s ease;
  
  -webkit-box-shadow: 3px 5px 18px 13px rgba(51, 34, 80, 0.2);
  -moz-box-shadow: 3px 5px 18px 13px rgba(51, 34, 80, 0.2);
  box-shadow: 3px 5px 18px 13px rgba(51, 34, 80, 0.2);
          }

    &--img {
        border-radius: 12px 0px 0px 12px;
        border-right: 1px solid #F3F4F6;
        background: #F9FAFB;
        width: 576px;
        height: 480px;
        display: flex;
        padding: 48px;
        justify-content: center;
        align-items: center;
        flex: 1 0 0;
        align-self: stretch;

        img {
            width: 480px;
            height: 384px;
        }
    }

    &--text {
        width: 576px;
        height: 480px;
        padding: 48px;
        justify-content: start;

        h3 {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            align-self: stretch;
            overflow: hidden;
            color: var(--Gray-900, #111827);
            text-overflow: ellipsis;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 28px;
            margin-bottom: 23px;
        }

        p {
            color: #4B5563;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            margin-bottom: 24px;
        }

        div {
            display: flex;
            display: flex;
            align-items: center;
            align-content: center;
            gap: 8px;
            align-self: stretch;
            flex-wrap: wrap;


            span {
                color: #4B5563;
                font-family: Inter;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 20px;
                display: flex;
                padding: 4px 20px;
                justify-content: center;
                align-items: center;
                border-radius: 12px;
                background: #E5E7EB;
            }
        }

        img {
            margin-top: 24px;
        }
    }
}

.testi{
    margin-top: 48px;
    display: flex;
    gap: 48px;
    .testimonials_card {
        display: flex;
        min-width: 300px;
        padding: 48px;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        flex: 1 0 0;
        align-self: stretch;
        border-radius: 12px;
        background: var(--Gray-Default, #FFF);
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.06), 0px 4px 3px 0px rgba(0, 0, 0, 0.07);
        transition: 0.3s ease;
        img{
            border-radius: 50%;
        }
        &:hover{
      transition: 0.3s ease;

-webkit-box-shadow: 3px 5px 18px 13px rgba(51, 34, 80, 0.2);
-moz-box-shadow: 3px 5px 18px 13px rgba(51, 34, 80, 0.2);
box-shadow: 3px 5px 18px 13px rgba(51, 34, 80, 0.2);
        }
    }
}