
.dark-mode {
    body {
        background: #333;
        color: #fff;
    }

    .nav__list--item-link {
        color: #fff;
    }

    .btm {
        background-color: #4a5568;
        color: #fff;
    }

    .about_text {
        color: #fff;
    }

}
