header {
    width: 100%;
    position: fixed;
    z-index: 555;
    backdrop-filter: blur(8px);


    .nav {
        display: flex;
        height: 70px;
        align-items: center;
        justify-content: space-between;

        &__logo {
            color: #111827;
            text-align: center;
            font-family: Inter;
            font-size: 30px;
            font-weight: 700;
            line-height: 36px;
            letter-spacing: -0.6px;

        }

        &__list {
            display: flex;
            gap: 50px;
            list-style-type: none;
            align-items: center;
        
            &--item {
                color:#4B5563;
                font-family: Inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px;     
                &-link {
                    text-decoration: none;

                    &:hover {
                        color: red;
                    }
                }
            }
        }
    }
}


    